.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: gray;
    padding: 20px;
}

.h2 {
    color: purple
}

.container > button {
    width: 200px;
}